<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3qLk72uQnNYTZe9Pt4L-0tvLTxkkHZxY</string>
	<key>GCM_SENDER_ID</key>
	<string>134403906802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodTodoApp</string>
	<key>PROJECT_ID</key>
	<string>todoriverpod-1547b</string>
	<key>STORAGE_BUCKET</key>
	<string>todoriverpod-1547b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134403906802:ios:9aa4e5da7eeba1065c846b</string>
	<key>DATABASE_URL</key>
	<string>https://todoriverpod-1547b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>